<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Techversed Email</title>
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" yahoo="fix" style="font-family: 'Roboto', Helvetica, Arial, sans-serif">
    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable" style="background:#f9f9f9;border:0;border-collapse:collapse;border-spacing:0;font-size:normal;font-style:normal;font-variant:normal;font-weight:normal;height:100%!important;line-height:normal;margin:0 auto;padding:0;text-align:center;vertical-align:baseline;width:100%!important">
        <tr>
          <td align="center" valign="top">
              <table border="0" cellpadding="20" cellspacing="0" width="600" id="emailContainer">
                  <tr>
                      <td align="center" valign="top" style="padding-bottom:0;">
                          <table border="0" cellpadding="20" cellspacing="0" width="100%" id="emailHeader">
                              <tr>
                                <td align="center" style="border:0;font-size:normal;font-style:normal;font-variant:normal;font-weight:normal;line-height:normal;margin:0;padding:0;text-align:center;vertical-align:middle; padding: 20px 0; background-color:#1C1C1C;">
                                  <!-- <img width="140" height="46" src="https://drive.google.com/file/d/0B0L_l5MvMiBDNHEzazZGdUl3czQ/view?usp=sharing" style="border:0 none;font-size:normal;font-style:normal;font-variant:normal;font-weight:normal;line-height:normal;margin:0;outline:none;padding:0;text-decoration:none;vertical-align:baseline" /> -->
                                </td>
                              </tr>
                          </table>
                      </td>
                  </tr>
                  <tr>
                      <td align="center" valign="top" style="padding-top:0;">
                          <table border="0" cellpadding="20" cellspacing="0" width="100%" id="emailBody" style="background-color:#fff">
                              <tr>
                                <td align="center" valign="top" style="border:0;font-size:normal;font-style:normal;font-variant:normal;font-weight:normal;line-height:normal;margin:0;padding:0;text-align:center;vertical-align:middle">
                                    <h1 style="border:0;color:#676a6c;font:300 28px/125% 'MuseoSans','Lato','Helvetica Neue','Helvetica','Arial',sans-serif;margin:0;padding:30px 15%;text-align:center;vertical-align:baseline">{{objectDescription}} Updated</h1>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <table border="0" cellpadding="0" cellspacing="0" width="100" style="border:0;border-collapse:collapse;border-spacing:0;font-size:normal;font-style:normal;font-variant:normal;font-weight:normal;line-height:normal;margin:0 auto;padding:0;text-align:center;vertical-align:baseline">
                                    <tbody>
                                      <tr style="border:0;font-size:normal;font-style:normal;font-variant:normal;font-weight:normal;line-height:normal;margin:0;padding:0;vertical-align:baseline" class="gmail_msg">
                                        <td align="center" valign="top" width="100%" class="m_-7959793169841093818thirty-bottom gmail_msg" style="border:0;font-size:normal;font-style:normal;font-variant:normal;font-weight:normal;line-height:normal;margin:0;text-align:left;vertical-align:middle"></td>
                                      </tr>
                                      <tr style="border:0;font-size:normal;font-style:normal;font-variant:normal;font-weight:normal;line-height:normal;margin:0;padding:0;vertical-align:baseline" class="gmail_msg">
                                        <td align="center" valign="top" width="100" style="border-bottom-color:#1ab394;border-bottom-style:solid;border-width:0 0 5px;font-size:normal;font-style:normal;font-variant:normal;font-weight:normal;line-height:normal;margin:0;padding:0;text-align:left;vertical-align:middle"></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td align="center" valign="top" style="border:0;font-size:normal;font-style:normal;font-variant:normal;font-weight:normal;line-height:normal;margin:0;padding:0px 10% 40px;text-align:left;vertical-align:middle">
                                    <p style="border:0;color:#686868;font-size:normal;font-style:normal;font-variant:normal;font-weight:300;line-height:150%;margin:0;padding:12px 0;">
                                        Hi, <br><br>
                                        {{objectDescription}} was just updated by <strong>{{updatingUser}}</strong>. You have opted to receive update notifications for this object. Please email tech@vvcenter.org if you feel this notification is in error.
                                    </p>
                                    <p style="border:0;color:#686868;font-size:normal;font-style:normal;font-variant:normal;font-weight:600;line-height:150%;margin-bottom:10px;padding:5px 0;text-align:center;border-bottom: 1px solid #cccccc;">
                                      Changes Made
                                    </p>
                                    {% for key, changeSet in changeSets %}
                                        <p style="border:0;color:#686868;font-size:normal;font-style:normal;font-variant:normal;font-weight:300;margin:0;padding:5px 0;">
                                            <strong>{{key}}</strong>: <a style="color:red">{{changeSet.oldValue}}</a> &#x2192; <a style="color:green">{{changeSet.newValue}}</a>
                                        </p>
                                    {% endfor %}
                                    <p style="border:0;color:#1ab394;font-size:normal;font-style:normal;font-variant:normal;font-weight:300;line-height:150%;margin:0;padding:30px 0;text-align:center;">
                                      <a href="{{ linkUrl }}" style="background:#1ab394;border-color:#1ab394;border-radius:4px;border-style:solid;border-width:20px 30px;color:#ffffff;display:block;font-size:18px;font-style:normal;font-variant:normal;font-weight:300;line-height:normal;margin:0 auto;min-width:55%;padding:0;text-align:center;text-decoration:none;">View {{objectDescription}}</a>
                                    </p>
                                </td>
                              </tr>
                          </table>
                      </td>
                  </tr>
              </table>
          </td>
      </tr>
    </table>
</body>

</html>
